.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--neutral-blue-500);
    background-color: var(--primary-blue-100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    padding: 0;
}

.edit-button:active {
    background-color: var(--primary-blue-300);
}

