.topNav {
    width: 100%;
    max-width: 400px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border: none;
    gap: 80px;
   
}

.rightButtons {
    display: flex;
    align-items: center;
}

.icon2,
.icon3 {
  margin-left: -20px; 
}

