.user-circles {
    display: flex;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-beige-300);
    margin-left: -8px;
    box-shadow: -15px 0px 4px 0px rgba(0, 0, 0, 0.03);
}

.circle:first-child {
    margin-left: 0;
}

.more-circle {
    background-color: var(--primary-blue-300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots {
    display: flex;
    gap: 2px;
}

.dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--neutral-blue-700);
}
