.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    background-color: var(--primary-blue-900);
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
}

.tooltip::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8px;
}

.top::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: var(--primary-blue-900) transparent transparent transparent;
}

.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
}

.bottom::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent var(--primary-blue-900) transparent;
}

.left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8px;
}

.left::after {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-blue-900);
}

.right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.right::after {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent var(--primary-blue-900) transparent transparent;
} 