.community {
    display: flex;
    align-items: center;
    border: none;
    font-size: var(--bodytext-font-size);
    color: var(--neutral-blue-500);
    background-color: var(--analogous-blue-300);
    padding: 10px 16px;
    border-radius: 30px 30px 5px 30px;
    transition: all 0.3s ease;
    width: 249px;
}

.community-active {
    background-color: var(--analogous-blue-100);
}

.community_icon {
    margin-right: 8px;
} 