/* On-Off Toggle */
.on-off-toggle-btn {
    background-color: var(--primary-blue-100);
    border: 2px solid var(--primary-blue-500);
    border-radius: 99px;
    width: 60px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.on-off-toggle-btn .toggle-label {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    z-index: 1;
    pointer-events: none;
    transition: color 0.15s ease;
}

/* OFF state styles */
.on-off-toggle-btn .toggle-label {
    color: var(--primary-blue-500);
    right: 9%;
    font-weight: var(--bold-weight);
}

/* ON state styles */
.on-off-toggle-btn.on-offtoggled .toggle-label {
    color: var(--primary-blue-300);
    left: -15px;
}

.on-off-toggle-btn .on-off-thumb {
    height: 25px;
    width: 25px;
    background-color: var(--primary-blue-500);
    border-radius: 99px;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.5s ease;
}

.on-off-toggle-btn.on-offtoggled .on-off-thumb {
    left: calc(100% - 24px);
    background-color: var(--primary-blue-300);
}

.on-off-toggle-btn.on-offtoggled {
    background-color: var(--primary-blue-100);
    border: 2px solid var(--primary-blue-300);
}
