.signup-button:active {
    background-color: var(--primary-blue-300);
}


.signup-button {
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    border: none;
}

.signup-button, .signin-button {
    width: 281px;
    height: 40px;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: var(--bodytext-font-size);
    font-weight: var(--bold-weight);
    transition: all 0.2s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}