:root {
    /* colours and typography*/

    /* basic colours */
    --white-color: #fff;
    --black-color: #000;
    --success-color: #7dbe57;
    --warning-color: #f18f01;
    --error-color: #e62121;

    /* primary colours */
    --primary-blue-100: #c9d1e6;
    --primary-blue-300: #8a9cc9;
    --primary-blue-500: #506bae;
    --primary-blue-700: #394c7c;
    --primary-blue-900: #222d49;

    /* secondary colours */
    --secondary-beige-100: #f4f0ea;
    --secondary-beige-300: #e7dfd1;
    --secondary-beige-500: #dbcfbb;
    --secondary-beige-700: #9b9385;
    --secondary-beige-900: #5c574f;

    /* analogous colours */
    --analogous-blue-100: #e4ebf0;
    --analogous-blue-300: #c5d5e0;
    --analogous-blue-500: #a8c0d0;
    --analogous-blue-700: #778894;
    --analogous-blue-900: #475157;

    /* neutral */
    --neutral-blue-100: #b6bbce;
    --neutral-blue-300: #626d94;
    --neutral-blue-500: #152560;
    --neutral-blue-700: #0f1a44;
    --neutral-blue-900: #091028;

    --font-family: Helvetica, sans-serif;

    /* Font weight */
    --bold-weight: 700;
    --thin-weight: 400;

    /* font size */
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --bodytext-font-size: 16px;
    --caption-font-size: 14px;
    --label-font-size: 12px;
}

.explore {
    display: flex;
    align-items: center;
    font-size: var(--h3-font-size);
    font-weight: var(--bold-weight);
    color: var(--white-color);
    background-color: var(--primary-blue-500);
    padding: 20px 20px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); /* 👈 drop shadow */
    transition: all 0.3s ease;
    cursor: pointer;
}

.explore_arrow {
    margin-left: 10px;
}

.explore-active {
    background-color: var(--primary-blue-300);
}

.skip {
    font-size: var(--bodytext-font-size);
    font-weight: bold;
    color: var(--primary-blue-300);
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.skip-active {
    color: var(--primary-blue-500);
    background-color: transparent;
    border-radius: 4px;
}

.add {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--white-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.add-active {
    background-color: var(--primary-blue-100);
}

.community {
    display: flex;
    align-items: center;
    border: none;
    font-size: var(--bodytext-font-size);
    color: var(--neutral-blue-500);
    background-color: var(--analogous-blue-300);
    padding: 10px 16px;
    border-radius: 30px 30px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.community-active {
    background-color: var(--analogous-blue-100);
}

.event {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    font-size: var(--bodytext-font-size);
    color: var(--secondary-beige-900);
    background-color: var(--secondary-beige-300);
    padding: 10px 56px 10px 16px;
    border-radius: 30px 30px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;

}

.event-active {
    background-color: var(--secondary-beige-100);
}

.community_icon,
.event_icon {
    margin-right: 8px;
}

.elipses {
    border: none;
    background-color: transparent;
}


.report_heading {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--primary-blue-900);
    color: var(--white-color);
    font-weight: var(--bold-weight);
    width: 212px;
    height: 34px;
    border-radius: 8px 8px 0 0;
}

.report_icon {
    margin-left: 8px;
    margin-right: 8px;
}

.report_options {
    display: flex;
    flex-direction: column;
}

.report_button {
    font-size: var(--caption-font-size);
    text-align: end;
    color: var(--primary-blue-900);
    background-color: var(--white-color);
    border: none;
    border-bottom: 1px solid var(--primary-blue-900);
    width: 212px;
    height: 34px;
}

.report_buttonLast {
    font-size: var(--caption-font-size);
    text-align: end;
    color: var(--primary-blue-900);
    background-color: var(--white-color);
    border: none;
    width: 212px;
    height: 34px;
    border-radius: 0 0 8px 8px;
}

.imageAdd {
    width: 383px;
    height: 183px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border: none;
    background-color: var(--white-color);
}

.eventNotification{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-beige-300);
    width: 340px;
    height:50px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.roundNext {
    background-color: var(--primary-blue-500);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.roundNext-active {
    background-color: var(--neutral-blue-100);
}

.leaveEvent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 394px;
    height: 150px;
    background-color: var(--white-color);
    border-radius: 8px;
    font-weight: var(--bold-weight);
}

.leaveEvent_options {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.leaveEvent_yes {
    width: 281px;
    height: 40px;
    background-color: var(--white-color);
    color: var(--analogous-blue-700);
    border-radius: 8px;
    border: 2px solid var(--analogous-blue-700);
    font-weight: var(--bold-weight);
    transition: all 0.3s ease;
}

.leaveEvent_no {
    width: 281px;
    height: 40px;
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    border-radius: 8px;
    border: none;
    font-weight: var(--bold-weight);
    transition: all 0.3s ease;
}

.leaveEvent_yes-active {
    background-color: var(--primary-blue-500);
    color: var(--white-color);
}

.leaveEvent_no-active {
    background-color: var(--analogous-blue-500);
    color: var(--white-color);
}

.settings {
    display: flex;
    flex-direction: column;
}

.darkMode {
    display: flex;
    align-items: center;
    width: 351px;
    height: 60px;
    background-color: var(--analogous-blue-100);
}