/* Email password inputs - Daniel*/
/* Onboarding small inputs - Sandy*/
/* Username field */
.username-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 378px;
    height: 40px;
    background-color: var(--secondary-beige-100);
    border-radius: 8px;
    margin-bottom: 20px;
    
}

.username-input {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    font-size: var(--bodytext-font-size);
    color: var(--secondary-beige-900);
    background-color: transparent;
    outline: none;
}

/* Comment field */
.comment-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--white-color);
    border-radius: 8px;
    border: 2px solid var(--neutral-blue-500);
    margin-bottom: 20px;
    height: 40px;
    width: 398px;
}

.comment-input {
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    font-size: var(--bodytext-font-size);
    color: var(--neutral-blue-500);
    background-color: transparent;
}

/* Small input box*/

/* Medium input box */
