:root {
    /* colours and typography*/
    
        /* basic colours */
        --white-color: #fff;
        --black-color: #000;
        --success-color: #7DBE57;
        --warning-color: #F18F01;
        --error-color: #E62121;
  
        /* primary colours */
        --primary-blue-100: #c9d1e6;
        --primary-blue-300: #8a9cc9;
        --primary-blue-500: #506bae;
        --primary-blue-700: #394c7c;
        --primary-blue-900: #222d49;
  
        /* secondary colours */
        --secondary-beige-100: #f4f0ea;
        --secondary-beige-300: #e7dfd1;
        --secondary-beige-500: #dbcfbb;
        --secondary-beige-700: #9b9385;
        --secondary-beige-900: #5c574f;
  
        /* analogous colours */
            --analogous-blue-100: #e4ebf0;
            --analogous-blue-300: #c5d5e0;
            --analogous-blue-500: #a8c0d0;
            --analogous-blue-700: #778894;
            --analogous-blue-900: #475157;
          
  
        /* neutral */
        --neutral-blue-100: #b6bbce;
        --neutral-blue-300: #626d94;
        --neutral-blue-500: #152560;
        --neutral-blue-700: #0f1a44;
        --neutral-blue-900: #091028;
  
        --font-family: Helvetica, sans-serif;
  
    /* Font weight */
    --bold-weight: 700;
    --thin-weight: 400;
  
    /* font size */
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --bodytext-font-size: 16px;
    --caption-font-size: 14px;
    --label-font-size: 12px; 
  
  }

/* Sign up*/

/* Sign up button */
.signup-container {
    margin-top: 20px;
}

.signup-button {
    width:281px;
    height: 40px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    font-size: var(--bodytext-font-size);
    font-weight: var(--bold-weight);
    transition: all 0.2s ease;
}

.signup-button:active {
    background-color: var(--primary-blue-300);
}


/* Onboarding*/
.tag {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    border: 4px solid var(--primary-blue-300);
    background-color: var(--white-color);
    color: var(--analogous-blue-700);
    font-size: var(--bodytext-font-size);
    font-weight: var(--thin-weight);
    transition: all 0.2s ease;
}

.tag:active {
    background-color: var(--primary-blue-100);
}

.tag--selected {
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    border-color: var(--primary-blue-500);
}

.tag--selected:active {
    background-color: var(--primary-blue-700);
}

.tags-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/*HomePage*/  

/*Posting community post*/ 

/*Event information*/ 

/*Event post*/  

/*Profile*/ 

/*NavBar*/ 

/*Buttons*/ 

/*Create Event*/

/*Edit Profile*/ 

/*Setting*/
