:root {
    /* basic colours */
    --white-color: #fff;
    --black-color: #000;
    --success-color: #7dbe57;
    --warning-color: #f18f01;
    --error-color: #e62121;

    /* primary colours */
    --primary-blue-100: #c9d1e6;
    --primary-blue-300: #8a9cc9;
    --primary-blue-500: #506bae;
    --primary-blue-700: #394c7c;
    --primary-blue-900: #222d49;

    /* secondary colours */
    --secondary-beige-100: #f4f0ea;
    --secondary-beige-300: #e7dfd1;
    --secondary-beige-500: #dbcfbb;
    --secondary-beige-700: #9b9385;
    --secondary-beige-900: #5c574f;

    /* analogous colours */
    --analogous-blue-100: #e4ebf0;
    --analogous-blue-300: #c5d5e0;
    --analogous-blue-500: #a8c0d0;
    --analogous-blue-700: #778894;
    --analogous-blue-900: #475157;

    /* neutral */
    --neutral-blue-100: #b6bbce;
    --neutral-blue-300: #626d94;
    --neutral-blue-500: #152560;
    --neutral-blue-700: #0f1a44;
    --neutral-blue-900: #091028;

    --font-family: Helvetica, sans-serif;

    /* Font weight */
    --bold-weight: 700;
    --thin-weight: 400;

    /* font size */
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --bodytext-font-size: 16px;
    --caption-font-size: 14px;
    --label-font-size: 12px;
}
/* Sign up*/

/* Sign up button */
.signup-container, .signin-container {
    margin-top: 20px;
}

.signup-button, .signin-button {
    width: 281px;
    height: 40px;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: var(--bodytext-font-size);
    font-weight: var(--bold-weight);
    transition: all 0.2s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-button {
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    border: none;
}

.signin-button {
    background-color: var(--white-color);
    color: var(--analogous-blue-700);
    border: 2px solid var(--analogous-blue-700);
}

.signup-button:active {
    background-color: var(--primary-blue-300);
}

.signin-button:active {
    background-color: var(--analogous-blue-300);
}

/* Onboarding*/
.tag {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    border: 4px solid var(--primary-blue-300);
    background-color: var(--white-color);
    color: var(--analogous-blue-700);
    font-size: var(--bodytext-font-size);
    font-weight: var(--thin-weight);
    transition: all 0.2s ease;
}

.tag:active {
    background-color: var(--primary-blue-100);
}

.tag--selected {
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    border-color: var(--primary-blue-500);
}

.tag--selected:active {
    background-color: var(--primary-blue-700);
}

.tags-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/*HomePage*/ 
.heart-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.heart-button:active {
    transform: scale(1.1);
}

.heart-buttons-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

/*Posting community post*/ 
/* Send button */
.send-button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button:active {
    background-color: var(--primary-blue-100);
}

/* Send button container */
.send-container {
    margin-top: 20px;
}

/* Return button */
.return-button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease;
    width: 13px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-button:active {
    background-color: var(--primary-blue-500);
}

/* Return button container */
.return-container {
    margin-top: 20px;
}

/* Follow button */
.follow-button {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--secondary-beige-300);
    background-color: var(--primary-blue-500);
    transition: all 0.2s ease;
    width: auto;
    height: 34px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.follow-button:active {
    opacity: 0.7;
}

.follow-text {
    font-size: var(--bodytext-font-size);
}

/* When not following */
.follow-button:not(.followed) .follow-text {
    color: var(--secondary-beige-100);
}

/* When following */
.follow-button.followed {
    background-color: var(--white-color);
    border: 1px solid var(--neutral-blue-500);
}

.follow-button.followed .follow-text {
    color: var(--neutral-blue-500);
}

/* Follow button container */
.follow-container {
    margin-top: 20px;
}

/* Search bar */
.search-container {
    position: relative;
    width: 348px;
    height: 41px;
    margin: 20px 0;
}

.search-input {
    width: 100%;
    padding: 12px 16px 12px 40px;
    border: 1px solid var(--neutral-blue-700);
    border-radius: 8px;
    font-size: var(--bodytext-font-size);
    color: var(--primary-blue-100);
    background-color: var(--neutral-blue-700);
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.search-input::placeholder {
    color: var(--primary-blue-100);
}

.search-input:focus {
    outline: none;
    border-color: var(--primary-blue-100);
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Search button */
.search-button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    font-size: var(--bodytext-font-size);
    transition: all 0.2s ease;
    width: 100px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 8px;
}

.search-button:active {
    background-color: var(--primary-blue-700);
    color: var(--white-color);
}

.search-button-icon {
    margin-right: 4px;
}

/* Search button container */
.search-button-container {
    margin-top: 20px;
}

/*Event post*/  
.join-button {
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid var(--secondary-beige-300);
    background-color: var(--primary-blue-500);
    color: var(--secondary-beige-100);
    font-size: var(--bodytext-font-size);
    transition: all 0.2s ease;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-button:active {
    background-color: var(--primary-blue-700);
}

.join-button--joined {
    background-color: var(--success-color);
    color: var(--secondary-beige-100);
}

.join-button--joined:active {
    background-color: var(--secondary-beige-300);
    color: var(--primary-blue-500);
}

/* Join button container */
.join-container {
    margin-top: 20px;
}

/* Post button container */
.post-container {
    margin-top: 20px;
}
    /* neutral */
    --neutral-blue-100: #b6bbce;
    --neutral-blue-300: #626d94;
    --neutral-blue-500: #152560;
    --neutral-blue-700: #0f1a44;
    --neutral-blue-900: #091028;

    --font-family: Helvetica, sans-serif;

    /* Font weight */
    --bold-weight: 700;
    --thin-weight: 400;

    /* font size */
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --bodytext-font-size: 16px;
    --caption-font-size: 14px;
    --label-font-size: 12px;
}

.explore {
    display: flex;
    align-items: center;
    font-size: var(--h3-font-size);
    font-weight: var(--bold-weight);
    color: var(--white-color);
    background-color: var(--primary-blue-500);
    padding: 20px 20px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); /* 👈 drop shadow */
    transition: all 0.3s ease;
    cursor: pointer;
}

.explore_arrow {
    margin-left: 10px;
}

.explore-active {
    background-color: var(--primary-blue-300);
}

.skip {
    font-size: var(--bodytext-font-size);
    font-weight: bold;
    color: var(--primary-blue-300);
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.skip-active {
    color: var(--primary-blue-500);
    background-color: transparent;
    border-radius: 4px;
}

.add {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--white-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.add-active {
    background-color: var(--primary-blue-100);
}

.community {
    display: flex;
    align-items: center;
    border: none;
    font-size: var(--bodytext-font-size);
    color: var(--neutral-blue-500);
    background-color: var(--analogous-blue-300);
    padding: 10px 16px;
    border-radius: 30px 30px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.community-active {
    background-color: var(--analogous-blue-100);
}

.event {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    font-size: var(--bodytext-font-size);
    color: var(--secondary-beige-900);
    background-color: var(--secondary-beige-300);
    padding: 10px 56px 10px 16px;
    border-radius: 30px 30px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.event-active {
    background-color: var(--secondary-beige-100);
}

.community_icon,
.event_icon {
    margin-right: 8px;
}

.elipses {
    border: none;
    background-color: transparent;
}

.report_heading {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--primary-blue-900);
    color: var(--white-color);
    font-weight: var(--bold-weight);
    width: 212px;
    height: 34px;
    border-radius: 8px 8px 0 0;
    font-family: var(--font-family);
}

.report_icon {
    margin-left: 8px;
    margin-right: 8px;
}

.report_options {
    display: flex;
    flex-direction: column;
}

.report_button {
    font-size: var(--caption-font-size);
    text-align: end;
    color: var(--primary-blue-900);
    background-color: var(--white-color);
    border: none;
    border-bottom: 1px solid var(--primary-blue-900);
    width: 212px;
    height: 34px;
}

.report_buttonLast {
    font-size: var(--caption-font-size);
    text-align: end;
    color: var(--primary-blue-900);
    background-color: var(--white-color);
    border: none;
    width: 212px;
    height: 34px;
    border-radius: 0 0 8px 8px;
}

.imageAdd {
    width: 383px;
    height: 183px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border: none;
    background-color: var(--white-color);
}

.imageAdd-active {
    background-color: var(--analogous-blue-100);
}

.notification-container {
    position: relative;
    width: 100%;
    max-width: 340px;
}

.eventNotification {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-beige-300);
    width: 340px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.eventNotification_text {
    font-family: var(--font-family);
    font-size: var(--h3-font-size);
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px; /* Slightly thicker than the Tailwind version for visibility */
    background-color: var(--success-color); /* Amber-500 equivalent, change to match your design system */
    transition: width 0.1s linear; /* Optional: adds a smoother transition between frames */
}

.roundNext {
    background-color: var(--primary-blue-500);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.roundNext-active {
    background-color: var(--neutral-blue-100);
}

.leaveEvent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 394px;
    height: 150px;
    background-color: var(--white-color);
    border-radius: 8px;
    font-weight: var(--bold-weight);
    font-family: var(--font-family);
}

.leaveEvent_options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leaveEvent_yes {
    width: 281px;
    height: 40px;
    background-color: var(--white-color);
    color: var(--analogous-blue-700);
    border-radius: 8px;
    border: 2px solid var(--analogous-blue-700);
    font-weight: var(--bold-weight);
    transition: all 0.3s ease;
}

.leaveEvent_no {
    width: 281px;
    height: 40px;
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    border-radius: 8px;
    border: none;
    font-weight: var(--bold-weight);
    transition: all 0.3s ease;
}

.leaveEvent_yes-active {
    background-color: var(--primary-blue-500);
    color: var(--white-color);
}

.leaveEvent_no-active {
    background-color: var(--analogous-blue-500);
    color: var(--white-color);
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.darkMode,
.fontSize,
.contactUs,
.terms,
.logOut {
    display: flex;
    align-items: center;
    width: 351px;
    height: 60px;
    background-color: var(--analogous-blue-100);
    color: var(--primary-blue-500);
    font-size: var(--h3-font-size);
    font-weight: var(--bold-weight);
    border-radius: 16px;
    border: 2px solid var(--primary-blue-500);
}

.darkMode_icon,
.fontSize_icon,
.contactUs_icon,
.terms_icon,
.logOut_icon {
    padding: 0 21px 0 21px;
}

.darkMode-active,
.fontSize-active,
.contactUs-active,
.terms-active,
.logOut-active {
    background-color: var(--white-color);
}

.participantField {
    width: 389px;
    height: 50px;
    border: 1px solid var(--primary-blue-500);
    border-radius: 8px;
    padding-left: 16px;
    font-family: var(--font-family);
    font-size: var(--bodytext-font-size);
}

.editBio {
    display: flex;
    font-family: var(--font-family);
    width: 398px;
    height: 212px;
    border: 1px solid var(--primary-blue-500);
    border-radius: 8px;
    padding: 16px 0 0 16px;
    font-size: var(--bodytext-font-size);
}

.placeholderImg_sm{
    width: 341px;
    height: 254px;
    border-radius: 8px;
}

.placeholderImg_lg{
    width: 398px;
    height: 298px;
    border-radius: 8px;
}

.placeholderImg_event{
    width: 398px;
    height: 183x;
    border-radius: 8px;
}

.placeholderImg_featured{
    width: 337px;
    height: 134px;
    border-radius: 8px;
}

.placeholderImg_profile{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

html {
    background-color: #cad6ff;
    height: 500vh;
    font-family: var(--font-family);
}
/* Sign up*/

/* Onboarding*/
.student-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 410px;
    margin-top: 10px;
    justify-content: center;
}

.category-card {
    position: relative;
    width: 200px;
    height: 220px;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-image {
    flex: 1;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.card-image.highschool {
    background-image: url("/highschool-button.png");
}

.card-image.postgrad {
    background-image: url("/post-grad-button.png");
}

.card-image.break {
    background-image: url("/student-break-button.png");
}

.card-image.other {
    background-image: url("/others-button.png");
}

.category-card h3 {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    font-size: var(--bodytext-font-size);
    color: var(--white-color);
    text-align: center;
    background: var(--primary-blue-500);
    font-weight: var(--thin-weight);
    line-height: 20px;
    z-index: 1;
}
/* Selection states */
.student-categories.has-selected .category-card {
    opacity: 0.5;
}

.category-card.selected {
    opacity: 1 !important;
}

.category-card.selected h3 {
    color: var(--white-color);
    background-color: var(--primary-blue-500);
}

.category-btn span {
    color: var(--primary-blue-700);
    font-size: var(--bodytext-font-size);
}

/* Start style location dropdown */
.location-dropdown {
    margin-top: 30px;
    position: relative;
    width: 378px;
    height: 35px;
}

.dropdown-trigger {
    width: 100%;
    padding: 8px 12px;
    background: var(--secondary-beige-100);
    border: 1px solid var(--secondary-beige-700);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: border-radius 0.2s ease;
}

.location-dropdown.open .dropdown-trigger {
    border-radius: 8px 8px 0 0;
}

.search-icon {
    display: flex;
    align-items: center;
    opacity: 1;
}

.search-icon img {
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(55%) sepia(8%) saturate(654%)
        hue-rotate(7deg) brightness(91%) contrast(87%);
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: var(--bodytext-font-size);
    color: var(--analogous-blue-900);
    background: transparent;
    padding: 3px 0;
}

.search-input::placeholder {
    color: var(--secondary-beige-700);
}

.dropdown-button {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
}

.dropdown-button img {
    transition: transform 0.2s ease;
}

.dropdown-content {
    position: absolute;
    width: 402px;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    background: var(--secondary-beige-100);
    border: 1px solid var(--analogous-blue-700);
    border-radius: 0 0px 8px 8px;
    overflow: hidden;
    z-index: -1;
}

.location-option {
    padding: 10px 12px;
    color: var(--secondary-beige-700);
    font-size: var(--bodytext-font-size);
    transition: all 0.2s ease;
}

/* End style location dropdown */

/*HomePage*/
.search-button,
.profile-button,
.comment-button,
.edit-button,
.delete-button {
    background: none;
    border: none;
    padding: 0;
}

/* Single Comment button */

.single-comment {
    width: 285px;
    display: flex;
    gap: 4px;
    align-items: flex-start;
    margin-top: 10px;
}

/* Profile image styling */
.author-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--analogous-blue-700);
    object-fit: cover;
    padding: 2px;
}

/* Comment content layout */
.comment-content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 3px;
    width: 100%;
    background-color: var(--analogous-blue-100);
    border-radius: 10px;
}

/* Header: Name and date */
.author-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.author-name {
    font-weight: var(--bold-weight);
    color: var(--neutral-blue-900);
    font-size: var(--bodytext-font-size);
}

.comment-date {
    font-size: var(--label-font-size);
    font-weight: var(--thin-weight);
    color: var(--analogous-blue-700);
}

/* Comment text */
.comment-text {
    color: var(--neutral-blue-900);
    line-height: 1.25;
    margin: 0;
    font-size: var(--label-font-size);
}

/* Comment with reply */
.comment-thread {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-thread .single-comment {
    display: flex;
    gap: 8px;
    margin-bottom: -12px;
}

.comment-thread .author-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.share {
    background-color: transparent;
    border: none;
}

.share-active {
    background-color: var(--analogous-blue-100);
}

.signUp_input {
    font-family: var(--font-family);
    position: relative;
    margin-bottom: 24px;
  }
  
  .signUp_input input {
    width: 280px;
    height: 30px;
    padding: 16px 12px 8px;
    font-size: var(--bodytext-font-size);
    border: 1px solid #b8a999;
    border-radius: 10px;
    background: none;
    outline: none;
    color: #6a5e52;
  }
  
  .signUp_input label {
    position: absolute;
    left: 8px;
    top: -8px;
    font-size: var(--caption-font-size);
    color: #b8a999;
    background: white;
    padding: 0 4px;
    pointer-events: none;
    transition: 0.2s ease all;
  }
  
  .signUp_input input:focus + label,
  .signUp_input input:not(:placeholder-shown) + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: #6a5e52;
  }
  
  .signUp_input input::placeholder {
    color: #d4c4b3;
  }
.reply-comment .author-image {
    width: 26px;
    height: 26px;
}

.comment-thread .comment-content {
    background: var(--analogous-blue-100);
    padding: 8px;
    border-radius: 8px;
    flex: 1;
}

.comment-thread .reply-comment .comment-content {
    background: var(--secondary-beige-100);
}

.comment-thread .author-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.comment-thread .author-name {
    font-weight: 600;
    color: var(--neutral-blue-900);
    font-size: var(--bodytext-font-size);
}

.reply-comment .author-name {
    font-size: var(--caption-font-size);
}

.comment-thread .comment-date {
    font-size: var(--label-font-size);
    color: var(--analogous-blue-700);
}

.comment-thread .comment-text {
    font-size: var(--label-font-size);
    color: var(--analogous-blue-900);
    margin: 0;
    line-height: 1.2;
}

.comment-thread .reply-comment {
    padding-left: 34px;
    position: relative;
    margin-top: 8px;
}

.comment-thread .reply-line {
    position: absolute;
    left: 15px;
    top: -8px;
    width: 1.5px;
    height: 28px;
    background: var(--analogous-blue-500);
}

.comment-thread .reply-line-horizontal {
    position: absolute;
    left: 15px;
    top: 20px;
    width: 10px;
    height: 1.5px;
    background: var(--analogous-blue-500);
}

/* Posting community post on/off toggle */
.toggle-btn {
    background-color: var(--white-color);
    border: 2px solid var(--primary-blue-500);
    border-radius: 99px;
    width: 60px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    position: relative;
    padding: 0;
}

.toggle-btn .thumb {
    /* circle button */
    height: 25px;
    width: 25px;
    background-color: var(--primary-blue-500);
    border-radius: 99px;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggled .thumb {
    background-color: var(--secondary-beige-900);
}

.toggled {
    background-color: var(--secondary-beige-300);
    border: 2px solid var(--secondary-beige-900);
}

.toggle-btn.toggled .thumb {
    left: calc(100% - 24px); /* 50px width - 25px = moves thumb to right */
}

.toggle-btn .thumb .icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
    filter: brightness(0) invert(1); /* This makes the icon white */
}

.toggle-btn.toggled .thumb .icon {
    filter: brightness(0) invert(1); /* Keep the white filter when toggled */
}

/* start community and events navbar style */
.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: var(--primary-blue-700);
    text-decoration: none;
    font-size: var(--bodytext-font-size);
    transition: background-color 0.2s ease;
    background: none;
    border: none;
}

.nav-link:first-child {
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    font-weight: var(--bold-weight);
}

/* Remove underline from Community when Events is active */
.nav-link.active + .nav-link {
    text-decoration: none;
    font-weight: normal;
}

/* end community and events navbar style */

/*Event information*/

/*Event post*/
.user-circles {
    display: flex;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-beige-300);
    margin-left: -8px;
    box-shadow: -15px 0px 4px 0px rgba(0, 0, 0, 0.03);
}

.circle:first-child {
    margin-left: 0;
}

.more-circle {
    background-color: var(--primary-blue-300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots {
    display: flex;
    gap: 2px;
}

.dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--neutral-blue-700);
}

/*Profile*/
/* Start coding profile photo edit pop up */
.photo-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    background: none;
    border: none;
    border-radius: 8px;
    width: 100%;
}

.photo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-blue-100);
    fill: var(--primary-blue-900);
    border-radius: 50%;
}

.photo-button span {
    color: var(--black-color);
    font-size: var(--bodytext-font-size);
}
/* End coding profile photo edit pop up */

/*Buttons*/

/*Create Event*/
.post-button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-blue-700);
    color: var(--white-color);
    font-size: var(--h3-font-size);
    transition: all 0.2s ease;
    width: 114px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-button:active {
    background-color: var(--primary-blue-500);
}


/*Edit Profile*/ 
/* Edit button */
.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--neutral-blue-500);
    background-color: var(--primary-blue-100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    padding: 0;
}

.edit-button:active {
    background-color: var(--primary-blue-300);
}

/* Edit button container */
.edit-container {
    margin-top: 20px;
}

/*Setting*/
/* Text Size Radio */
.text-size-radio-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio-input {
    width: 37px;
    height: 37px;
    margin: 0;
}

.radio-text {
    font-size: var(--h3-font-size);
    color: var(--primary-blue-500);
    font-weight: var(--bold-weight)
}

.radio-input:checked + .radio-text {
    color: var(--primary-blue-500);
}

/* Profile tag */
.profile-tag {
    width: auto;
    height: 36px;
    background-color: var(--white-color);
    border: none;
    padding: 0 8px;
    display: flex;
    align-items: left; 
    gap: 8px;
}

.profile-image-container .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
}

.profile-tag-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-tag-title {
    font-size: var(--bodytext-font-size);
    color: var(--neutral-blue-900);
    font-weight: bold;
    margin: 0;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
}

.profile-tag-subtitle {
    font-size: var(--smalltext-font-size);
    color: var(--neutral-blue-900);
    margin: 0;
    text-align: left;
    line-height: 1;
}


.event-date-tag{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 11px;
    align-items: center; 
    background-color: var(--neutral-blue-500);
    width: 90px;
    height: 107px;
}

.event-tag-month {
    font-size:var(--h2-font-size) ;
    margin-top: 15px;
    margin-bottom: 2px;
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color) ;
}

.event-tag-date {
    font-size: var(--h2-font-size);
    color: var(--white-color);
    margin-top: 0;
}

.calendar-view-button{
    width:auto;
    height:19px;
    border: none;
    background-color: transparent;
    color:var(--primary-blue-700);
}

.calendar-view{
    font-size: var(--bodytext-font-size);
    border-bottom: 1px solid var(--neutral-blue-700);
    font-weight: bold;
}

/* Success status bar */
.success-status-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    background-color: var(--white-color);
    border-radius: 8px;
    width: fit-content;
    border: 3px solid var(--success-color);
    flex-direction: row-reverse;
}

.success-message {
    color: var(--success-color);
    font-size: var(--h3-font-size);
    font-weight: bold;
}

/*Edit Profile*/

/*Setting*/

/* On-Off Toggle */
.on-off-toggle-btn {
    background-color: var(--primary-blue-100);
    border: 2px solid var(--primary-blue-500);
    border-radius: 99px;
    width: 60px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.on-off-toggle-btn .toggle-label {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    z-index: 1;
    pointer-events: none;
    transition: color 0.15s ease;
}

/* OFF state styles */
.on-off-toggle-btn .toggle-label {
    color: var(--primary-blue-500);
    right: 9%;
    font-weight: var(--bold-weight);
}

/* ON state styles */
.on-off-toggle-btn.on-offtoggled .toggle-label {
    color: var(--primary-blue-300);
    left: -15px;
}

.on-off-toggle-btn .on-off-thumb {
    height: 25px;
    width: 25px;
    background-color: var(--primary-blue-500);
    border-radius: 99px;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.5s ease;
}

.on-off-toggle-btn.on-offtoggled .on-off-thumb {
    left: calc(100% - 24px);
    background-color: var(--primary-blue-300);
}

.on-off-toggle-btn.on-offtoggled {
    background-color: var(--primary-blue-100);
    border: 2px solid var(--primary-blue-300);
}

/* starting toggle style */

/* Student type radio styles */

.student-type-dropdown {
    position: relative;
    width: 253px;
    margin-top: 25vh;
}

.student-type-dropdown .dropdown-trigger {
    width: 100%;
    padding: 15px 12px;
    background: var(--white-color);
    border: 1px solid var(--primary-blue-500);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.student-type-dropdown .dropdown-trigger.open {
    border-radius: 8px 8px 0 0;
    border-color: var(--primary-blue-500);
}

.student-type-dropdown .selected-option {
    display: flex;
    align-items: center;
    gap: 12px;
}

.student-type-dropdown .selected-option span {
    color: var(--neutral-blue-900);
    font-size: var(--bodytext-font-size);
}

.student-type-dropdown .dropdown-options {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white-color);
    border: 1px solid var(--primary-blue-500);
    border-top: none;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    z-index: 10;
}

.student-type-dropdown .dropdown-option {
    width: 100%;
    padding: 15px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    border-top: 1px solid var(--primary-blue-500);
}

.student-type-dropdown .dropdown-option.selected {
    background: var(--analogous-blue-100);
}

.student-type-dropdown .option-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.student-type-dropdown .option-content span {
    color: var(--neutral-blue-900);
    font-size: var(--bodytext-font-size);
}
