.student-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 410px;
    margin-top: 10px;
    justify-content: center;
}

.category-card {
    position: relative;
    width: 200px;
    height: 220px;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-image {
    flex: 1;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.card-image.highschool {
    background-image: url("/highschool-button.png");
}

.card-image.postgrad {
    background-image: url("/post-grad-button.png");
}

.card-image.break {
    background-image: url("/student-break-button.png");
}

.card-image.other {
    background-image: url("/others-button.png");
}

.category-card h3 {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    font-size: var(--bodytext-font-size);
    color: var(--white-color);
    text-align: center;
    background: var(--primary-blue-500);
    font-weight: var(--thin-weight);
    line-height: 20px;
    z-index: 1;
}
/* Selection states */
.student-categories.has-selected .category-card {
    opacity: 0.5;
}

.category-card.selected {
    opacity: 1 !important;
}

.category-card.selected h3 {
    color: var(--white-color);
    background-color: var(--primary-blue-500);
}

.category-btn span {
    color: var(--primary-blue-700);
    font-size: var(--bodytext-font-size);
}
