/* Move these variables to globals.css */
/* :root {
    --white-color: #fff;
    --black-color: #000;
    --primary-blue-100: #007AFF;
    --primary-blue-200: #0056b3;
    --primary-blue-300: #003d80;
    --primary-blue-400: #00264d;
    --primary-blue-500: #001a33;
    --primary-blue-600: #000d1a;
    --primary-blue-700: #00080d;
    --primary-blue-800: #000408;
    --primary-blue-900: #000204;
    --primary-blue-1000: #000102;
    --primary-blue-1100: #000001;
    --primary-blue-1200: #000000;
    --primary-blue-1300: #000000;
    --primary-blue-1400: #000000;
    --primary-blue-1500: #000000;
    --primary-blue-1600: #000000;
    --primary-blue-1700: #000000;
    --primary-blue-1800: #000000;
    --primary-blue-1900: #000000;
    --primary-blue-2000: #000000;
} */

.navBar_container {
    background-color: var(--primary-blue-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 0 16px;
    width: 400px;
}    

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    width: 33px;
    margin-right: 8px;
}

.logo_text {
    font-size: var(--h2-font-size);
    font-family: var(--font-family);
    color: white;
}

.search {
    margin-right: -20px;
}

.search, .profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

