.search-button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    font-size: var(--bodytext-font-size);
    transition: all 0.2s ease;
    width: 100px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 8px;
}

.search-button:active {
    background-color: var(--primary-blue-700);
    color: var(--white-color);
}

.search-button-icon {
    margin-right: 4px;
}
