.search-button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    color: var(--white-color);
    font-size: var(--bodytext-font-size);
    width: 100px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0 8px;
}

.search-button-icon {
    margin-right: 4px;
}
