.screen {
    width: 100%;
    height: 100vh;
    background-color: blue;
    position: relative;
}

.add {
    position: absolute;
    width: 65px;
    height: 65px;
    bottom: 120px;
    right: 36px;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.optionsOverlay {
    position: absolute;
    bottom: 160px;
    left: 60%;
    transform: translateX(-50%);
    z-index: 1000;
}
