/* Posting community post on/off toggle */
.toggle-btn {
    background-color: var(--white-color);
    border: 2px solid var(--primary-blue-500);
    border-radius: 99px;
    width: 60px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    position: relative;
    padding: 0;
}

.toggle-btn .thumb {
    /* circle button */
    height: 25px;
    width: 25px;
    background-color: var(--primary-blue-500);
    border-radius: 99px;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggled .thumb {
    background-color: var(--secondary-beige-900);
}

.toggled {
    background-color: var(--secondary-beige-300);
    border: 2px solid var(--secondary-beige-900);
}

.toggle-btn.toggled .thumb {
    left: calc(100% - 24px); /* 50px width - 25px = moves thumb to right */
}

.toggle-btn .thumb .icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
    filter: brightness(0) invert(1); /* This makes the icon white */
}

.toggle-btn.toggled .thumb .icon {
    filter: brightness(0) invert(1); /* Keep the white filter when toggled */
}
