.event-tag-content {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 11px;
    align-items: center;
    background-color: var(--neutral-blue-500);
    width: 90px;
    height: 107px;

}
.event-tag-month {
    font-size: var(--h2-font-size);
    margin-top: 15px;
    margin-bottom: 2px;
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
}

.event-tag-date {
    font-size: var(--h2-font-size);
    color: var(--white-color);
    margin-top: 0;
}