.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    width: 430px;
}

.homePageNav {
    width: 430px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #EDF4F9 0%, rgba(237, 244, 249, 0.80) 59%, rgba(237, 244, 249, 0.00) 100%);
}

.topContainer {
    width: 430px;
    height: 10%;
}

.middleContainer {
    width: 430px;
    height: 30%;
    background-color: #EDF4F9;
}

.bottomContainer {
    width: 430px;    
    height: 100%;
}

