.joinButton {
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid var(--secondary-beige-300);
    background-color: var(--primary-blue-500);
    color: var(--secondary-beige-100);
    font-size: var(--bodytext-font-size);
    transition: all 0.2s ease;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.joinButton:active {
    background-color: var(--primary-blue-700);
}

.joinButtonJoined {
    background-color: var(--success-color);
    color: var(--secondary-beige-100);
}

.joinButtonJoined:active {
    background-color: var(--secondary-beige-300);
    color: var(--primary-blue-500);
} 