.leaveEvent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 394px;
    height: 150px;
    background-color: var(--white-color);
    border-radius: 8px;
    font-weight: var(--bold-weight);
    font-family: var(--font-family);
}

.leaveEvent_options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leaveEvent_yes {
    width: 281px;
    height: 40px;
    background-color: var(--white-color);
    color: var(--analogous-blue-700);
    border-radius: 8px;
    border: 2px solid var(--analogous-blue-700);
    font-weight: var(--bold-weight);
    transition: all 0.3s ease;
}

.leaveEvent_no {
    width: 281px;
    height: 40px;
    background-color: var(--primary-blue-500);
    color: var(--white-color);
    border-radius: 8px;
    border: none;
    font-weight: var(--bold-weight);
    transition: all 0.3s ease;
}

.leaveEvent_yes-active {
    background-color: var(--primary-blue-500);
    color: var(--white-color);
}

.leaveEvent_no-active {
    background-color: var(--analogous-blue-500);
    color: var(--white-color);
} 