.return-button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease;
    width: 13px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-button:active {
    background-color: var(--primary-blue-500);
}